Host baymax-local
    HostName 192.168.1.23
    User sumit
    ConnectTimeout 2

Host baymax-tunnel
    HostName baymax.tail195562.ts.net
    User sumit

Host baymax
    HostName baymax.tail195562.ts.net
    User sumit
